{% extends "boilerplate.html" %}
{% block title %} add student {% endblock %}
{% block head %} {% endblock %}
{% block body %}
	<div class="container">
		<h3>Register a student</h3>
		<div class="row my-2">
			 <form action="" method="POST">
			   <div class="mb-3 row">
				<label for="id" class="col-sm-2 col-form-label">Registration id</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" required id="id" value="" name="id">
				</div>
			  </div>
			  <div class="mb-3 row">
				<label for="name" class="col-sm-2 col-form-label">Name</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="name" name="name" required>
				</div>
			  </div>
			  <div class="mb-3 row">
				<label for="class" class="col-sm-2 col-form-label">Class</label>
				<div class="col-sm-10">
				  <input type="text" class="form-control" id="class" name="class" required>
				</div>
			  </div>
			  <div class="mb-3 row">
				<label for="fp_id" class="col-sm-2 col-form-label">Scan fingerprint</label>
				<div class="col-sm-10">
				  <input type="number" class="form-control" id="fp_id" name="fp_id" required>
				</div>
			  </div>
			  <button class="btn btn-sm btn-primary" type="submit">Submit</button>
			 </form>
		</div>
	</div>
{% endblock %}
